docker/node-red/data/.flows.json.backup
[
    {
        "id": "fde217c77fb16fbe",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a5595de39fbc106b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0e0d7c63c7290efa",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6b9e0ea860ee3c58",
        "type": "influxdb",
        "hostname": "http://influxdb",
        "port": 8086,
        "protocol": "http",
        "database": "",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "4f0b07841abc109f",
        "type": "mqtt in",
        "z": "fde217c77fb16fbe",
        "name": "",
        "topic": "factory/light/ldr",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0e0d7c63c7290efa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "63099b95df52295b"
            ]
        ]
    },
    {
        "id": "63099b95df52295b",
        "type": "function",
        "z": "fde217c77fb16fbe",
        "name": "Ldr",
        "func": "msg.payload = {\n    ldr: Number(msg.payload)\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 180,
        "wires": [
            [
                "37ce0f544afd4181",
                "5e0a272e3d1b7e6e"
            ]
        ]
    },
    {
        "id": "37ce0f544afd4181",
        "type": "debug",
        "z": "fde217c77fb16fbe",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "22a7eedff22d9ab7",
        "type": "mqtt in",
        "z": "fde217c77fb16fbe",
        "name": "Simulator In",
        "topic": "led/simulator/sensors",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0e0d7c63c7290efa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "f1a9f6b34fbe4e2d",
                "8349cce1af2e3775"
            ]
        ]
    },
    {
        "id": "f1a9f6b34fbe4e2d",
        "type": "function",
        "z": "fde217c77fb16fbe",
        "name": "Parse Simulator Payload",
        "func": "let data = msg.payload;\nif (typeof data === \"string\") {\n    try {\n        data = JSON.parse(data);\n    } catch (e) {\n        node.warn(\"Simulator payload is not valid JSON\");\n        return null;\n    }\n}\n\nif (!data || typeof data !== \"object\") {\n    return null;\n}\n\nmsg.payload = {\n    ldr: Number(data?.sensors?.ldrAdc ?? data?.sensors?.ldr ?? 0),\n    ripple_percent: Number(data?.sensors?.ripplePercent ?? 0),\n    rgb_r: Number(data?.sensors?.tcs34725?.R ?? 0),\n    rgb_g: Number(data?.sensors?.tcs34725?.G ?? 0),\n    rgb_b: Number(data?.sensors?.tcs34725?.B ?? 0),\n    source: \"simulated\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 320,
        "wires": [
            [
                "5e0a272e3d1b7e6e",
                "a6d26a57e9fa7e13"
            ]
        ]
    },
    {
        "id": "a6d26a57e9fa7e13",
        "type": "debug",
        "z": "fde217c77fb16fbe",
        "name": "simulated debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 400,
        "wires": []
    },
    {
        "id": "5e0a272e3d1b7e6e",
        "type": "influxdb out",
        "z": "fde217c77fb16fbe",
        "influxdb": "6b9e0ea860ee3c58",
        "name": "light",
        "measurement": "light_intensity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "light_org",
        "bucket": "light_data",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "8349cce1af2e3775",
        "type": "debug",
        "z": "fde217c77fb16fbe",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 420,
        "wires": []
    }
]