docker/node-red/data/.flows.json.backup
[
    {
        "id": "fde217c77fb16fbe",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a5595de39fbc106b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6b9e0ea860ee3c58",
        "type": "influxdb",
        "hostname": "http://influxdb",
        "port": 8086,
        "protocol": "http",
        "database": "",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "0e0d7c63c7290efa",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4f0b07841abc109f",
        "type": "mqtt in",
        "z": "fde217c77fb16fbe",
        "name": "",
        "topic": "factory/light/ldr",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0e0d7c63c7290efa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "63099b95df52295b"
            ]
        ]
    },
    {
        "id": "63099b95df52295b",
        "type": "function",
        "z": "fde217c77fb16fbe",
        "name": "Ldr",
        "func": "msg.payload = [\n    {\n        measurement: \"light_intensity\",\n        fields: {\n            ldr: Number(msg.payload.ldr)\n        },\n        timestamp: new Date(msg.payload.timestamp)\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 180,
        "wires": [
            [
                "5e0a272e3d1b7e6e",
                "37ce0f544afd4181"
            ]
        ]
    },
    {
        "id": "5e0a272e3d1b7e6e",
        "type": "influxdb out",
        "z": "fde217c77fb16fbe",
        "influxdb": "6b9e0ea860ee3c58",
        "name": "light",
        "measurement": "light_intensity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "light_org",
        "bucket": "light_data",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "37ce0f544afd4181",
        "type": "debug",
        "z": "fde217c77fb16fbe",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 280,
        "wires": []
    }
]