docker/node-red/data/flows.json
[
    {
        "id": "fde217c77fb16fbe",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a5595de39fbc106b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0e0d7c63c7290efa",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6b9e0ea860ee3c58",
        "type": "influxdb",
        "hostname": "http://influxdb",
        "port": 8086,
        "protocol": "http",
        "database": "",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "4f0b07841abc109f",
        "type": "mqtt in",
        "z": "fde217c77fb16fbe",
        "name": "",
        "topic": "factory/light/ldr",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0e0d7c63c7290efa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "63099b95df52295b"
            ]
        ]
    },
    {
        "id": "63099b95df52295b",
        "type": "function",
        "z": "fde217c77fb16fbe",
        "name": "Ldr",
        "func": "msg.payload = {\n    ldr: Number(msg.payload)\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 180,
        "wires": [
            [
                "37ce0f544afd4181",
                "5e0a272e3d1b7e6e"
            ]
        ]
    },
    {
        "id": "37ce0f544afd4181",
        "type": "debug",
        "z": "fde217c77fb16fbe",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "22a7eedff22d9ab7",
        "type": "mqtt in",
        "z": "fde217c77fb16fbe",
        "name": "Simulator In",
        "topic": "factory/+/+/+/+/+/telemetry/raw",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0e0d7c63c7290efa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "f1a9f6b34fbe4e2d",
                "8349cce1af2e3775"
            ]
        ]
    },
    {
        "id": "f1a9f6b34fbe4e2d",
        "type": "function",
        "z": "fde217c77fb16fbe",
        "name": "Parse Simulator Payload",
        "func": "let data = msg.payload;\nif (typeof data === \"string\") {\n    try {\n        data = JSON.parse(data);\n    } catch (e) {\n        node.warn(\"Simulator payload is not valid JSON\");\n        return null;\n    }\n}\n\nif (!data || typeof data !== \"object\") {\n    return null;\n}\n\nconst topicParts = String(msg.topic || \"\").split(\"/\");\nconst topicSite = topicParts[1] || \"sitea\";\nconst topicFloor = topicParts[2] || \"floor1\";\nconst topicLine = topicParts[3] || \"line1\";\nconst topicCell = topicParts[4] || \"cell1\";\nconst topicLampId = topicParts[5] || \"unknown_lamp\";\n\nconst lamp = data?.lamp || {};\nconst location = lamp?.location || {};\n\nmsg.payload = {\n    ldr: Number(data?.sensors?.ldrAdc ?? data?.sensors?.ldr ?? 0),\n    ripple_percent: Number(data?.sensors?.ripplePercent ?? 0),\n    rgb_r: Number(data?.sensors?.tcs34725?.R ?? 0),\n    rgb_g: Number(data?.sensors?.tcs34725?.G ?? 0),\n    rgb_b: Number(data?.sensors?.tcs34725?.B ?? 0),\n    rgb_c: Number(data?.sensors?.tcs34725?.C ?? 0),\n    anomaly_score: Number(data?.derived?.anomalyScore ?? 0),\n    rul_hours: Number(data?.derived?.rulHours ?? 0),\n    sim_time_hours: Number(data?.sim?.timeHours ?? 0),\n    sim_speed: Number(data?.sim?.speed ?? 0),\n    sim_playing: Number(data?.sim?.playing ? 1 : 0),\n    ambient_temp: Number(data?.environment?.ambientTemp ?? 0),\n    humidity: Number(data?.environment?.humidity ?? 0),\n    drive_current: Number(data?.environment?.driveCurrent ?? 0),\n    lamp_id: String(lamp?.id ?? topicLampId),\n    site: String(location?.site ?? topicSite),\n    floor: String(location?.floor ?? topicFloor),\n    line: String(location?.line ?? topicLine),\n    cell: String(location?.cell ?? topicCell),\n    source: \"simulated\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 320,
        "wires": [
            [
                "5e0a272e3d1b7e6e",
                "a6d26a57e9fa7e13"
            ]
        ]
    },
    {
        "id": "a6d26a57e9fa7e13",
        "type": "debug",
        "z": "fde217c77fb16fbe",
        "name": "simulated debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 400,
        "wires": []
    },
    {
        "id": "5e0a272e3d1b7e6e",
        "type": "influxdb out",
        "z": "fde217c77fb16fbe",
        "influxdb": "6b9e0ea860ee3c58",
        "name": "light",
        "measurement": "light_intensity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "light_org",
        "bucket": "light_data",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "8349cce1af2e3775",
        "type": "debug",
        "z": "fde217c77fb16fbe",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 420,
        "wires": []
    },
    {
        "id": "9f0c1a2b3c4d5e6f",
        "type": "mqtt in",
        "z": "fde217c77fb16fbe",
        "name": "ML Predictions In",
        "topic": "factory/+/+/+/+/+/telemetry/predictions",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "0e0d7c63c7290efa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 520,
        "wires": [
            [
                "2b7c9d1e3f4a5b6c"
            ]
        ]
    },
    {
        "id": "2b7c9d1e3f4a5b6c",
        "type": "function",
        "z": "fde217c77fb16fbe",
        "name": "Parse ML Prediction",
        "func": "let data = msg.payload;\nif (typeof data === \"string\") {\n    try {\n        data = JSON.parse(data);\n    } catch (e) {\n        node.warn(\"Prediction payload is not valid JSON\");\n        return null;\n    }\n}\n\nif (!data || typeof data !== \"object\") {\n    return null;\n}\n\nconst topicParts = String(msg.topic || \"\").split(\"/\");\nconst topicSite = topicParts[1] || \"sitea\";\nconst topicFloor = topicParts[2] || \"floor1\";\nconst topicLine = topicParts[3] || \"line1\";\nconst topicCell = topicParts[4] || \"cell1\";\nconst topicLampId = topicParts[5] || \"unknown_lamp\";\n\nconst meta = data.meta || {};\nconst prediction = data.failure_prediction || {};\nconst fault = data.fault_classification || {};\nconst alert = data.alert || {};\nconst status = data.current_status || {};\n\nconst p3 = prediction.probability_3_days;\nconst p7 = prediction.probability_7_days;\nconst p14 = prediction.probability_14_days;\n\nconst faultLabel = String(fault.fault_label || data.fault_label || \"Unknown\");\nconst severity = String(alert.severity || data.severity || \"NONE\");\nconst alertType = String(alert.alert_type || data.alert_type || \"NONE\");\nconst currentState = String(status.state || data.current_state || \"UNKNOWN\");\n\nconst fields = {\n    failure_prob_3d: Number(p3 == null ? 0 : p3),\n    failure_prob_7d: Number(p7 == null ? 0 : p7),\n    failure_prob_14d: Number(p14 == null ? 0 : p14),\n    estimated_remaining_days: Number(prediction.estimated_remaining_days == null ? -1 : prediction.estimated_remaining_days),\n    fault_type: Number(fault.predicted_fault_type == null ? -1 : fault.predicted_fault_type),\n    health_score: Number(status.health_score == null ? 0 : status.health_score),\n    fault_label_text: faultLabel,\n    severity_text: severity,\n    alert_type_text: alertType,\n    current_state_text: currentState\n};\n\nconst tags = {\n    fault_label: faultLabel,\n    severity: severity,\n    alert_type: alertType,\n    current_state: currentState,\n    lamp_id: String(meta.luminaireId || data.bulb_id || topicLampId),\n    site: String(meta.site || topicSite),\n    floor: String(meta.floor || topicFloor),\n    line: String(meta.line || topicLine),\n    cell: String(meta.cell || topicCell),\n    source: \"ml\"\n};\n\nmsg.payload = [fields, tags];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 520,
        "wires": [
            [
                "7a8b9c0d1e2f3a4b",
                "66753575907d7f22"
            ]
        ]
    },
    {
        "id": "7a8b9c0d1e2f3a4b",
        "type": "influxdb out",
        "z": "fde217c77fb16fbe",
        "influxdb": "6b9e0ea860ee3c58",
        "name": "ml_predictions",
        "measurement": "ml_predictions",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "light_org",
        "bucket": "light_data",
        "x": 720,
        "y": 520,
        "wires": []
    },
    {
        "id": "66753575907d7f22",
        "type": "debug",
        "z": "fde217c77fb16fbe",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 620,
        "wires": []
    },
    {
        "id": "ea1b2c3d4e5f6a7b",
        "type": "mqtt in",
        "z": "fde217c77fb16fbe",
        "name": "Edge-AI In",
        "topic": "factory/light/edge-ai",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "0e0d7c63c7290efa",
        "inputs": 0,
        "x": 260,
        "y": 700,
        "wires": [
            [
                "fb2c3d4e5f6a7b8c"
            ]
        ]
    },
    {
        "id": "fb2c3d4e5f6a7b8c",
        "type": "function",
        "z": "fde217c77fb16fbe",
        "name": "Parse Edge-AI JSON",
        "func": "let data=msg.payload;\nif(typeof data==='string'){try{data=JSON.parse(data);}catch(e){return null;}}\nmsg.payload=[{status:String(data.status||'UNKNOWN'),confidence:Number(data.confidence||0),score_healthy:Number((data.scores&&data.scores[0])||0),score_degrading:Number((data.scores&&data.scores[1])||0),score_failed:Number((data.scores&&data.scores[2])||0),sudden_failure:data.sudden_failure?1:0,ldr:Number(data.ldr||0)},{source:'esp32_tinyml'}];\nreturn msg;",
        "outputs": 1,
        "x": 480,
        "y": 700,
        "wires": [
            [
                "gc3d4e5f6a7b8c9d",
                "24686ccec3f07271"
            ]
        ]
    },
    {
        "id": "gc3d4e5f6a7b8c9d",
        "type": "influxdb out",
        "z": "fde217c77fb16fbe",
        "influxdb": "6b9e0ea860ee3c58",
        "name": "edge_ai",
        "measurement": "edge_ai",
        "precisionV18FluxV20": "ms",
        "org": "light_org",
        "bucket": "light_data",
        "x": 720,
        "y": 700,
        "wires": []
    },
    {
        "id": "24686ccec3f07271",
        "type": "debug",
        "z": "fde217c77fb16fbe",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 800,
        "wires": []
    }
]